body {
	background: #f5f8fa;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tweet {
	clear: both;
	background: #fff;
	padding: 10px;
	border-top: 1px solid #f5f8fa;
}

.avatar {
	float: left;
}

.avatar img {
	border-radius: 5px;
}

.tweet-content {
	margin-left: 58px;
	/** This is to account for the fact that the avatar has float on it, and we want
	tweet.clientHeight to include the height of the image. I wonder if we could
	do this differently...more intelligently... */
	min-height: 48px;
}

.tweet-content a {
	color: #8899a6;
	text-decoration: none;
}

.tweet-content a:hover {
	color: #8899a6;
	text-decoration: underline;
}

.media img {
	max-width: 100%;
	padding: 10px 0;
}

.messages {
	width: 500px;
	padding: 10px;
	margin: 0 auto;
}

.explanation {
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 5px;
	background-color: seashell;
	width: 300px;
}

h1 {
	font-size: 20px;
}